body {
  background: rgb(214, 211, 211);
}

h1 {
  color: teal;
}

.navbar-light .navbar-brand {
  background: teal;
  color: white;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.form {
  float: left;
  background-color: white;
  height: 75%;
  width: 50%;
  margin-left: 25px;
}
header h1 {
  margin-left: 15px;
}
img {
  vertical-align: middle;
  border-style: none;
  float: left;
  width: 200px;
  margin-left: 25px;
  margin-right: 25px;
}
